<html>
<body>
    <form method="POST", action="/recommendation">
        <input type = "hidden" name = "sku" value = "<%= sku %>" />
        <p>Quantity: <input type="number" name="quantity"></p>
        <p>Country: <input type="text" name="country"></p>
        <p>Postal Code: <input type="number" name="postal_code" min="5">
        <input type="submit">
    </form>
</body>
</html>