<html>
<body>
<ul>
<% products.each do |product| %>
<li><a href="/products/<%= product['Sku'] %>/designer"><%= product['Sku'] %> - <%= product['ProductName'] %></a></li>
<% end %>
</ul>
</body>
</html>